section.banner {
  background: url(../assets/banner.jpg);
  background-size: cover;
  background-position: 70% 10%;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
section.banner h1 {
  color: var(--white);
  font-size: 4.5rem;
  margin-left: 3rem;
}

section.banner .acoes {
  display: flex;
  margin: 3rem;
}
section.banner .acoes button {
  padding: 1rem;
  width: 12rem;
  border-radius: .4rem;
  font-size: large;

}

section.banner .acoes button:first-child {
  background: var(--white);
  color: var(--background);
  margin-right: 2rem;
}
section.banner .acoes button:last-child {
  color: var(--white);
  background: #0E0F1194;
  border: 1px solid var(--white);
}