:root {
  --background: #0e0f11;
  --gray: #272A2f;
  --white: #ecf0f1;
  --marvel-red: #ff1c0b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.lancamentos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lancamentos p {
  color: var(--white);
  margin-bottom: 0.4rem;
}
.carrossel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagens {
  display: flex;
  width: 90%;
  justify-content: left;
  background: var(--gray);
  /* overflow-x: auto; */
  overflow-x: hidden;
}

.imagens::-webkit-scrollbar{
  visibility: hidden;
}

.carrossel button {
  color: var(--white);
  margin: 0 .8rem;
  background: none;
  opacity: .6;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.carrossel button:hover {
  color: var(--white);
  margin: 0 .8rem;
  background: var(--gray);
  opacity: 1;
}

.carrossel .imagens img {
  padding: 1rem .5rem;
  min-width: 226px;
  position: relative;
  transition: .4s ease;
  left: 0;
}

.carrossel .imagens img:hover {
  transform: scale(1.05);
}

.carrossel .imagens img:first-child{
  padding-left: 1rem;
}
.carrossel .imagens img:last-child{
  padding-right: 0rem;
}